.header-content{
    // border: 1px solid black;
    height: 130px;
    &__section{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    &__section--2{
        border: 1px solid yellow;
        background-color: #FFC970;
        height: 50px;
    }
    
    &__container{
        // border: 1px solid blue;
        width: 400px;
        display: flex;
        justify-content: center;
    }

    &__container--icons {
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        width: 220px;
        font-size: 30px;
        
        
    }
    &__icon-links{
        text-decoration: none !important;
        color: black;
        border: 2px solid black;
        background-color: orange;
        padding: 1px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    &__icon-links :hover{

        // background-color: orange;
        background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
        
    }

    &__img{
        width: 40px;
        display: inline-block;
        margin-right: 10px;
    }
   

}
.titulo{

    font-size: 26px;
}

.main-content{
    background-color: lightgrey;
    // background-image: url(imgShopeame/back.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;

    &__flex{
        // border: 1px solid black;
        width: 60%;
        margin-top: 50px;
        background-color: #FFFFFF;
        margin-bottom: 60px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__list{
        // border: 1px solid black;
        height: 70px;
        margin-bottom: 30px;
        margin-top: 20px;
    
    }
    &__list--good{
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:0 20px;
    }

    &__button{
        width: 60px;
        height: 30px;
    }
   
}

.cont{

    // border: 1px solid blue;
    display: flex;
    justify-content: center;

}
.main-content__center{
    // border: 1px solid green;
    width: 100%;
    display: flex;
    margin-bottom: 80px;
    margin-top: 20px;
    
    
}
.imgjava{
    width: 150px;
    height: 150px;
    
}

.cart{
    // border: 1px solid yellow;
    margin-bottom: 50px;
    font-size: 14px;

    &__cardtext{
        // border: 1px solid blue;
        width: 100%;
        height: 130px;
        font-size: 12px;
        display: inline-block;
        border-bottom: 1px solid orange;
        border-top: 1px solid orange;
        overflow: hidden;
    
    }
    &__tittle{
        font-size: 20px;
        margin-top: 10px;
    }
    
    &__lastsection{
        // border: 1px solid green;
        // border-bottom: 1px solid orange;
        // border-top: 1px solid orange;
        display: flex;
        justify-content: space-around;
        margin-bottom: auto;
        margin-top: 20px;
        
    }
    &__spanjava{

        border-bottom: 1px solid orange;
        font-size: 20px;
        font-weight: bolder;
        
    }
}



.innerdiv{
    // border: 1px solid black;
    display: flex;
    justify-content: center;
}

.input{
    // border: 1px solid yellow;
    float: right;
    margin-right: 20px;
}

.footer-content{
    // border: 2px solid green;
    background-color: grey;

    &__siguenos{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        color: white;
    } 

    &__redes{
        // border: 1px solid blue;
        height: 40px;
        display: flex;
        justify-content: center; 
        padding-top: 8px;
    }

    &__links a{
        // border: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        text-decoration: none;
        color: white;
    }


    &__links--line a{
        border-left: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        color: white;
    }

    &__copyright{
        // border: 4px solid yellow;
        display: flex;
        justify-content: center;
        height: 40px;
        padding-top: 8px;
        
    }

}
.copy{
    margin: 0 5px;
}
.stylebtn{
    margin-left: 10px;
    max-height: 40px;
}
