.header-content {
  height: 130px;
}

.header-content__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-content__section--2 {
  border: 1px solid yellow;
  background-color: #FFC970;
  height: 50px;
}

.header-content__container {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  font-size: 30px;
}

.header-content__icon-links {
  text-decoration: none !important;
  color: black;
  border: 2px solid black;
  background-color: orange;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content__icon-links :hover {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}

.header-content__img {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

.titulo {
  font-size: 26px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 560px;
  background-color: lightgrey;
}

.main-content__container {
  width: 750px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content__titulo {
  padding: 10px;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

.main-content__line {
  border: 1px solid #FFC970;
  margin-top: 61px;
  height: 370px;
}

.main-content__titulo2 {
  width: 40%;
  margin: 60px;
  margin-left: 20px;
  padding-left: 20px;
}

.main-content__preview {
  height: 320px;
  margin-right: 20px;
}

.main-content__container--text {
  font-size: 20px;
}

.main-content__form {
  width: 60%;
  padding: 20px 50px 0 30px;
  margin-top: 60px;
}

.main-content__formbutton {
  margin-top: 10px;
}

.main-content__imgpreview {
  height: 40%;
}

.main-content__titulopreview {
  height: 15%;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content__preciopreview {
  height: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content__editpreview {
  height: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content__descriptionpreview {
  height: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-content {
  background-color: grey;
  margin-bottom: 0;
  width: 100%;
}

.footer-content__siguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  color: white;
}

.footer-content__redes {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
}

.footer-content__links a {
  padding: 0 10px;
  border-right: 1px solid black;
  text-decoration: none;
  color: white;
}

.footer-content__links--line a {
  border-left: 1px solid black;
  padding: 0 10px;
  border-right: 1px solid black;
  color: white;
}

.footer-content__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding-top: 6px;
  color: white;
}
/*# sourceMappingURL=form.css.map */