.header-content{
    // border: 1px solid black;
    height: 130px;
    
    &__section{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    &__section--2{
        border: 1px solid yellow;
        background-color: #FFC970;
        height: 50px;
    }
    
    &__container{
        // border: 1px solid blue;
        width: 400px;
        display: flex;
        justify-content: center;
    }

    &__container--icons{
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        width: 220px;
        font-size: 30px;
    }
    &__icon-links{
        text-decoration: none !important;
        color: black;
        border: 2px solid black;
        background-color: orange;
        padding: 1px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    &__icon-links :hover{

        // background-color: orange;
        background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
        
    }

    &__img{
        width: 40px;
        display: inline-block;
        margin-right: 10px;
    }
   

}
.titulo{

    font-size: 26px;
}

.main-content{
    
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    background-color: lightgrey;
    
    

    &__container{
        width: 750px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
    &__titulo{
        // border: 1px solid red;
        padding: 10px;
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
        
        
    }
    &__line{
        border: 1px solid #FFC970;
        margin-top: 61px;
        height: 370px;
    }
    &__titulo2{

        // border: 1px solid red;
        width: 40%;
        margin: 60px;
        margin-left: 20px;
        padding-left: 20px;
        

    }
    &__preview{

        // border: 1px solid blue;
        height: 320px;
        margin-right: 20px;

    }
    &__container--text{
        font-size: 20px;
    }

    &__form{
        // border: 1px solid green;
        width: 60%;
        padding:20px 50px 0 30px;
        margin-top: 60px;
        
    }
    &__formbutton{

        margin-top: 10px;
        // float: right;
        // width: 150px !important; 
        

    }
    &__imgpreview{
        // border: 1px solid black;
        height: 40%;
    }
    &__titulopreview{

        // border: 1px solid blue;
        height: 15%;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__preciopreview{
        // border: 1px solid green;
        height: 10%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__editpreview{
        // border: 1px solid yellow;
        height: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    &__descriptionpreview{

        // border: 1px solid pink;
        height: 15%;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}

.footer-content{
    // border: 2px solid green;
    background-color: grey;
    margin-bottom: 0;
    width: 100%;
    
    &__siguenos{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        color: white;
    } 

    &__redes{
        // border: 1px solid blue;
        height: 40px;
        display: flex;
        justify-content: center; 
        padding-top: 8px;
    }

    &__links a{
        // border: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        text-decoration: none;
        color: white;
    }

    &__links--line a{
        border-left: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        color: white;
    }

    &__copyright{
        // border: 4px solid yellow;
        display: flex;
        justify-content: center;
        height: 40px;
        padding-top: 6px;
        color: white;
        
    }

}