.header-content {
  height: 130px;
}

.header-content__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-content__section--2 {
  border: 1px solid yellow;
  background-color: #FFC970;
  height: 50px;
}

.header-content__container {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  font-size: 30px;
}

.header-content__icon-links {
  text-decoration: none !important;
  color: black;
  border: 2px solid black;
  background-color: orange;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content__icon-links :hover {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}

.header-content__img {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

.titulo {
  font-size: 26px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
}

.main-content__container {
  width: 60%;
  margin: 60px 0;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content__titulo {
  text-align: center;
  margin-top: 40px;
}

.main-content__text {
  font-size: 16px;
}

.main-content__text--title {
  font-size: 24px;
}

.main-content__article {
  font-size: 12px;
  padding: 40px 60px 60px 60px;
}

.footer-content {
  background-color: grey;
  margin-bottom: 0;
  width: 100%;
}

.footer-content__siguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  color: white;
}

.footer-content__redes {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
}

.footer-content__links a {
  padding: 0 10px;
  border-right: 1px solid black;
  text-decoration: none;
  color: white;
}

.footer-content__links--line a {
  border-left: 1px solid black;
  padding: 0 10px;
  border-right: 1px solid black;
  color: white;
}

.footer-content__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding-top: 8px;
  color: white;
}
/*# sourceMappingURL=inicio.css.map */