.header-content{
    // border: 1px solid black;
    height: 130px;
    
    
    &__section{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    &__section--2{
        border: 1px solid yellow;
        background-color: #FFC970;
        height: 50px;
    }
    
    &__container{
        // border: 1px solid blue;
        width: 400px;
        display: flex;
        justify-content: center;
    }

    &__container--icons{
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        width: 220px;
        font-size: 30px;
    }
    &__icon-links{
        text-decoration: none !important;
        color: black;
        border: 2px solid black;
        background-color: orange;
        padding: 1px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__icon-links :hover{

        // background-color: orange;
        background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.5),
        rgba(91, 14, 214, 0.5) 100%
      );
        
    }

    &__img{
        width: 40px;
        display: inline-block;
        margin-right: 10px;
    }
   

}
.titulo{

    font-size: 26px;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    

    &__container{
        // border: 1px solid black;
        width: 60%;
        margin: 60px 0;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__titulo{

        // border: 1px solid green;
        text-align: center;
        margin-top: 40px;
        

    }
    &__text{

        font-size: 16px;
    }
    &__text--title{

        font-size: 24px;

    }
    &__article{

        font-size: 12px;
        padding: 40px 60px 60px 60px;
        
    }
}

.footer-content{
    // border: 2px solid green;
    background-color: grey;
    margin-bottom: 0;
    width: 100%;
    
    &__siguenos{
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        color: white;
    } 

    &__redes{
        // border: 1px solid blue;
        height: 40px;
        display: flex;
        justify-content: center; 
        padding-top: 8px;
    }

    &__links a{
        // border: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        text-decoration: none;
        color: white;
    }

    &__links--line a{
        border-left: 1px solid black;
        padding: 0 10px;
        border-right: 1px solid black;
        color: white;
    }

    &__copyright{
        // border: 4px solid yellow;
        display: flex;
        justify-content: center;
        height: 40px;
        padding-top: 8px;
        color: white;
        
    }

}