@import url(/Users/frankestrada/Desktop/Full_Stack/EJERCICIOS UPGRADE/Shopeame/assets/style.css);
.header-content {
  height: 130px;
}

.header-content__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header-content__section--2 {
  border: 1px solid yellow;
  background-color: #FFC970;
  height: 50px;
}

.header-content__container {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  font-size: 30px;
}

.header-content__icon-links {
  text-decoration: none !important;
  color: black;
  border: 2px solid black;
  background-color: orange;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content__icon-links :hover {
  background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}

.header-content__img {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

.titulo {
  font-size: 26px;
}

.main-content {
  background-color: lightgrey;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content__flex {
  width: 60%;
  margin-top: 50px;
  background-color: #FFFFFF;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-content__list {
  height: 70px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.main-content__list--good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.main-content__button {
  width: 60px;
  height: 30px;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content__center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  margin-top: 20px;
}

.imgjava {
  width: 150px;
  height: 150px;
}

.cart {
  margin-bottom: 50px;
  font-size: 14px;
}

.cart__cardtext {
  width: 100%;
  height: 130px;
  font-size: 12px;
  display: inline-block;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
  overflow: hidden;
}

.cart__tittle {
  font-size: 20px;
  margin-top: 10px;
}

.cart__lastsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: auto;
  margin-top: 20px;
}

.cart__spanjava {
  border-bottom: 1px solid orange;
  font-size: 20px;
  font-weight: bolder;
}

.innerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input {
  float: right;
  margin-right: 20px;
}

.footer-content {
  background-color: grey;
}

.footer-content__siguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 12px;
  color: white;
}

.footer-content__redes {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8px;
}

.footer-content__links a {
  padding: 0 10px;
  border-right: 1px solid black;
  text-decoration: none;
  color: white;
}

.footer-content__links--line a {
  border-left: 1px solid black;
  padding: 0 10px;
  border-right: 1px solid black;
  color: white;
}

.footer-content__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding-top: 8px;
}

.copy {
  margin: 0 5px;
}

.stylebtn {
  margin-left: 10px;
  max-height: 40px;
}
/*# sourceMappingURL=styles.css.map */