@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?h87hph");
  src: url("fonts/icomoon.eot?h87hph#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?h87hph") format("truetype"), url("fonts/icomoon.woff?h87hph") format("woff"), url("fonts/icomoon.svg?h87hph#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "";
}

.icon-product:before {
  content: "";
}

.icon-setting:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */