@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h87hph');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h87hph#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?h87hph') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?h87hph') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?h87hph##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home {
  &:before {
    content: $icon-home; 
    
  }
}
.icon-product {
  &:before {
    content: $icon-product; 
  }
}
.icon-setting {
  &:before {
    content: $icon-setting; 
  }
}

